.text-center {
  text-align: center;
}
.contacts-table {
  width: 80vw;
  margin: auto;
  margin-bottom: 24px;

  a {
    text-decoration: none;
  }

  .case {
    display: flex;
    flex-direction: row;

    .contacts-number, .contacts-date {
      width: 20%;
    }

    .contacts-title {
      width: 60%;
      padding: 0 7px;
    }
  }

  .contacts-header {
    border-bottom: 3px solid #323e58;
    padding-bottom: 14px;
    margin-top: 28px;
    font-weight: bold;
  }

  .contacts-item {
    color: #000;
    padding: 21px 0;
    align-items: center;
    border-bottom: 1px solid #323e58;

    &:hover {
      background-color: #d0d6ec;
      cursor: pointer;
    }
  }

}

.empty-result-placeholder {
  text-align: center;
}

blockquote {
  margin: auto;
  max-width: 80vw;

  table {
    margin: auto;
    max-width: 80vw;
  }

  .nt {
    font-size: 9px;
    vertical-align: super;
  }
}

.apology-note {
  max-width: 730px;
  margin: auto;
  padding-top: 48px;
  text-align: center;
}
